* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: '', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header {
    position: absolute;
}
.hero {
    background-image: url('./images/hero-back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
